<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form action="/v1/pin" method="get">
    <input type="submit" name="이동" value="s3업로드이동">
</form>
</body>
</html>
