<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/v1/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="rep_id" placeholder="아이디 입력">
    <input type="text" name="rep_nm" placeholder="이름 입력">
    <input type="text" name="rep_contents" placeholder="내용 입력">
    <input type="file" name="imgFiles">
    <input type="file" name="imgFiles">
    <input type="file" name="imgFiles">
    <input type="file" name="imgFiles">
    <input type="file" name="imgFiles">
    <input type="submit" value="S3에 보내기">
</form>
</body>
</html>
