<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/v1/pin" method="post" enctype="multipart/form-data">
    <input type="text" name="rep_lat" placeholder="rep_lat">
    <input type="text" name="rep_lon" placeholder="rep_lon">
    <input type="text" name="rep_addr" placeholder="rep_addr">
    <input type="text" name="rep_detail_addr" placeholder="rep_detail_addr">
    <input type="text" name="user_id" placeholder="user_id">
    <input type="text" name="rep_date" placeholder="rep_date">
    <input type="text" name="rep_contents" placeholder="rep_contents">
    <input type="file" name="imgFiles">
    <input type="file" name="imgFiles">
    <input type="file" name="imgFiles">
    <input type="file" name="imgFiles">
    <input type="file" name="imgFiles">
    <input type="submit" value="S3에 보내기">
</form>
</body>
</html>
